<div class="flex justify-center text-6xl font-bold text-gray-400">
        <p>Movies</p>
</div>
<div class="flex flex-wrap justify-around content-around ml-10">
    <% movies.forEach(movie => { %>
    <div>
        <div class="my-5">
            <div>
                <a href="/detail/<%= movie.imdbID %>">
                 <img class="opacity-80 transition duration-500 ease-out transform hover:scale-105 hover:opacity-100 border-8 border-black w-72 h-96" src="<%= movie.Poster %>"  alt="poster">
                </a>
            </div>
        
            <div class="flex justify-around my-2">
                <div >
                    <form method="POST" action="/watchlist">
                        <input hidden type="text" name="title" value="<%= movie.Title %>">
                        <input hidden type="text" name="poster" value="<%= movie.Poster %>">
                        <input hidden type="text" name="imdbID" value="<%= movie.imdbID %>">
                        <input type="hidden" name="user" value="<%= username %>">
                        <div class='add'></div>
                    </form>  
                </div>
            </div>
        </div>
    </div>    
    <% }) %>
</div>

<script>
    if (user) {
        const buttons = document.getElementsByClassName('add')
        for(let i = 0; i<buttons.length; i++) {
            buttons[i].innerHTML = "<button class='border-4 border-black transition duration-500 ease-out hover:bg-gray-700 text-md font-bold bg-gray-800 text-white px-1 rounded' type='submit'>Add to Watchlist</button>"
        }
        console.log(currentUser.id)
    } 
</script>