<% movies.forEach(movie => { %>
    <h1> <%= movie.Title %> </h1>
<dvi>
    <ul>
        <img src="<%= movie.Poster %>"  alt="poster">
        
        <a href="/detail/<%= movie.imdbID%>">More Info</a>

        <form method="POST" action="/watchlist">
            <input hidden type="text" name="title" value="<%= movie.Title %>">
            <input hidden type="text" name="poster" value="<%= movie.Poster %>">
            <input hidden type="text" name="imdbID" value="<%= movie.imdbID %>">
            <input type="hidden" name="name" value="<%= username %>">
            <div id='add'></div>
        </form>
    </ul>
</dvi>    
<% }) %>

<script>
    if (user) {
        document.getElementById('add').innerHTML = "<button type='submit'>Add Movie to Watchlist</button>"
    }
</script>
