<% movies.forEach(movie => { %>
    <h1>
        <a href="/detail/<%= movie.imdbID %>">
             <%= movie.title %>  
        </a>
    </h1>
<dvi>
    <ul>
        <img src="<%= movie.poster %>"  alt="poster">
    </ul>
    <form method="POST" action="/watchlist/<%= movie.imdbID %>/?_method=DELETE">
        <input type="hidden" name="user" value="<%= userId %>">
        <input type="hidden" name="movieId" value="<%= movie.id %>">
        <input type="submit" value="Delete">
    </form>
</dvi>    
<% }) %>